@import url(http://fonts.googleapis.com/css?family=Lato);

body{
    font-family:Lato, sans-serif;
    color:#555;
}

#calculator {
    width: 400px;
    height: 350px;
    border: 1px solid #333;
    margin: 0 auto;
    /*-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.5);*/
    /*-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.5);*/
    /*box-shadow: 0px 0px 10px rgba(0,0,0,.5);*/
    margin-top:120px;
}

#readout {
    border:1px solid #666;
    width:283px;
    height:68px;
    text-align:right;
    float:right;
    display:block;
    font-size: 40px;
    line-height: 68px;
    padding-right:15px
}

button {
    width:100px;
    height:70px;
    padding:10px;
    display:block;
    float:left;
    font-size: 32px;
    font-family:Lato, sans-serif;
    color:#FFF;
    border: 1px solid #333333;
}

.btn-num {
    background-color:#3F90C9;
}
.btn-operator {
    background-color:#555;
}

